<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PraktikaLast.Properties.Settings.PraktikaLastConnectionString"
            connectionString="Data Source=DESKTOP-5VNVO9Q;Initial Catalog=PraktikaLast;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="PraktikaLast.Properties.Settings.LastConnectionString"
            connectionString="Data Source=DESKTOP-5VNVO9Q;Initial Catalog=Last;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="PraktikaLast.Properties.Settings.Last3ConnectionString"
            connectionString="Data Source=DESKTOP-5VNVO9Q;Initial Catalog=Last3;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="PraktikaLast.Properties.Settings.Last5ConnectionString"
            connectionString="Data Source=DESKTOP-5VNVO9Q;Initial Catalog=Last5;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
        <add name="PraktikaLast.Properties.Settings.Last6ConnectionString"
            connectionString="Data Source=DESKTOP-5VNVO9Q;Initial Catalog=Last6;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>